{{define "Main"}}
<div id="main" class="w3-white tab w3-padding"> {{/*style="margin-right:200px"> */}}
	<label>Current Project</label>
	<label >{{.CurrentProject}}</label><br>
	<ul>
		<li><label>Time This Session </label>
			<label >{{.CurrentSession}}</label><br></li>
			<li><label>Time Today </label>
				<label >{{.CurrentProjectTime}}</label><br></li>
	</ul>
{{ if .Tracking }}
  <form action="/" method=Post>
		<button class="w3-button" type=submit><span class="material-icons-two-tone">timer_off</span> Stop</button>
		<input type=hidden name=action value=stop>
	</form>
{{end}}

<h2> Time worked today </h2>
{{range $key, $value := .Summary}}
<strong><label>{{ $key }}</label></strong> {{ $value }}<br>
{{end}}
<br>
<strong><label>Total Time Today</label></strong>
	<label >{{.Today}}</label><br>
	<strong>	<label>Total Breaks</label></strong>
	<label >{{.Breaks}}</label><br>
</div>
{{end}}

